<div class="row">
	<div class="col-sm-3">
		<h1 class="page-title">Editar Muestreo</h1>
	</div>
	<div class="col-sm-1">
		<%= link_to '<i class="entypo-back"></i>Atras'.html_safe, samples_path, class: 'btn btn-blue btn-icon' %>
	</div>
    <div class="col-sm-1">
		<%= link_to '<i class="entypo-back"></i>Ver'.html_safe, @sample, class: 'btn btn-blue btn-icon' %>
	</div>
</div>

<%= render 'form', sample: @sample %>
