<div class="row">
	<div class="col-sm-3">
		<h1 class="page-title">Nuevo Equipo</h1>
	</div>
	<div class="col-sm-4">
		<%= link_to '<i class="entypo-back"></i>Atras'.html_safe, equipment_index_path, class: 'btn btn-blue btn-icon' %>
	</div>
</div>

<%= render 'form', equipment: @equipment %>

<%= link_to 'Back', equipment_index_path %>
