<div class="row">
	<div class="col-sm-3">
		<h1 class="page-title">Nueva Pieza</h1>
	</div>
	<div class="col-sm-4">
		<%= link_to '<i class="entypo-back"></i>Atras'.html_safe, pieces_path, class: 'btn btn-blue btn-icon' %>
	</div>
</div>

<%= render 'form', piece: @piece %>